# from time-tracker-2
__pycache__/
old_day_recaps/
day_recaps/


###############
# from exclam tracker

# exclam tracking log 


# habit tracking log
habit_progress.txt


##############
# from arxiv papers

# note: papers_seen.txt i've assumed remains unchanged
# i get annoyed of the yellow dot so i do this so no yellow dot
