# from time-tracker-2
__pycache__/
day_recaps/

# this is my development file
# essentially equivalent to time_tracker.py (but less refined)
tscr.py

# more development 
tt_scr_devfile.py


###############
# from exclam tracker

# exclam tracking log 
exmem.txt

# habit tracking log
habit_progress.txt


##############
# from arxiv papers

# note: papers_seen.txt i've assumed remains unchanged
# i get annoyed of the yellow dot so i do this so no yellow dot
