# from time-tracker-2
__pycache__/
day_recaps/

# this is my development file
# essentially equivalent to time_tracker.py (but less refined)
tscr.py

# more development 
tt_scr_devfile.py


###############
# from exclam tracker

# exclam tracking log 
exmem.txt

# habit tracking log
habit_progress.txt


##############
# from arxiv papers

# there's no harm in seeing this it's just i get 
# annoyed of the yellow dot - so im not gonna keep updating this

